.footerbtn {
    background-color: var(--primary);
    color: var(--text-secondary);
    font-weight: var(--fw-md);
    text-transform: uppercase;
    border: 1px solid var(--text-secondary);
    border-radius: 4px;
    transition: var(--transition-1);
    cursor: pointer;
}

.footerbtn:hover {
    background-color: var(--secondary);
    color: var(--text-primary);
}

@media screen and (min-width: 1140px) {
    .footerbtn {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1140px) {
    .footerbtn {
        font-size: 14px;
        padding: 8px 12px;
    }
}

@media screen and (max-width: 767px) {
    .footerbtn {
        padding: 10px;
        font-size: 10px;
    }
}