.sort-dropdown {
    position: relative;
    display: inline-block;
}

.sort-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: var(--fw-lg);
    font-size: 14px;
    padding: 0px 10px;
    border: none;
}

.sort-selected i {
    margin-left: 8px;
}

.sort-options {
    position: absolute;
    top: 100%;
    left: -35%;
    width: 175px;
    background: var(--secondary);
    box-shadow: var(--box-shadow);
    margin-top: 5px;
    z-index: 10;
    border-radius: 4px;
    padding: 8px 0;
    border: 1px solid var(--border);
}

.sort-options li {
    padding: 10px 16px;
    cursor: pointer;
    font-size: 14px;
    color: var(--text-primary);
    display: flex;
    align-items: center;
    text-align: right;
}

.sort-options li:hover {
    background-color: var(--light);
}

.sort-options li.active {
    font-weight: 600;
    background-color: var(--sub);
}

.checkmark {
    color: var(--primary);
    margin-right: 10px;
}

@media screen and (max-width: 767px) {

    .sort-options {
        left: -20%;
        width: 175px;
    }

}